version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: moodecho-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root 
      POSTGRES_DB: moodecho_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  backend:
    build: ./backend
    container_name: moodecho-api
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/moodecho_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      - db
  frontend:
    build: ./frontend
    container_name: moodecho-ui
    ports:
      - "5173:80" 
    depends_on:
      - backend
volumes:
  db_data: